---
name: Beta Test Results
about: Use this template to submit the results of Turntable-EX Beta testing
title: "Beta Test Results: "
labels: ["Beta Testing","Regression Tested"]
---

<!--
Thanks for Beta testing Turntable-EX! Please provide the test results below, and we encourage feedback on the ease of use, reliability, and overall usefullness also.
-->

### Testing configuration

* CommandStation-EX version:
* Turntable-EX version:
* Microcontroller:
* Stepper driver:
* Stepper motor:
* Homing sensor:
* Dual relay board:

`If you have edited config.h in Turntable-EX or myHalcpp or myAutomation.h in CommandStation-EX, please upload those to this issue also.`

### Test 1 - Startup Sequence

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 2 - Turntable-EX is Available

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 3 - Basic Movement and Phase Inversion
#### Test 3, Part 1 - Clockwise

`Not Tested/Pass/Fail`

Any observations or comments:

#### Test 3, Part 2 - Counter Clockwise

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 4 - Homing

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 5 - Calibration

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 6 - LED Output Testing

`Not Tested/Pass/Fail`

Any observations or comments:

### Test 7 - Accessory Output Testing

`Not Tested/Pass/Fail`

Any observations or comments:

### General comments or feedback

Please share any general comments or feedback here:
